h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

body {
  font-family: Arial;
  padding: 10px;
  background-color: #f1f1f1;
  text-align: justify;
}

.centered {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
}



.print {
    position: absolute;
    top: 0;
    right: 0;
    background-image: url( "print.png" );
    background-size: 25px 25px;
    height: 30px;
    width: 30px;
    margin: 5px;
}

.fade {
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}

@media print {
    .no-print {
      display: none;
    }
    .to-print {
       display: block;
    }
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

iframe[seamless] {
    border: none;
}
