/* Add a card effect for articles */
.section {
  position: relative;
  text-align: justify;
  background: white;
  border: 2px solid black; /* #ccc */
}

.hidden-boarders {
    border-top: hidden;
    border-bottom: hidden;
    border-left: hidden;
    border-right: hidden;
}

.section h1, h2, h3, h4, h5, h6 {
    text-align: center;
}
