.two-column:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 50%;
  overflow-x: hidden;
}

.left {
    border-style: hidden solid hidden hidden;
}

textarea {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:90%;
  height: 10vw;
  border:2px solid #719ECE;
  outline-color: #719ECE;
}

.querycenter {
  text-align:center
}

.querycenter input {
    border:2px solid #719ECE;
    outline-color: #719ECE;
}

.inline {
  display: block;
  width:90%;
  margin-left: auto;
  margin-right: auto;
}

.right {
    border-style: hidden hidden hidden hidden;
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    float: none;
    width: 100%;
    padding: 0
  }
}
