<h1>Miniature Mammal Database</h1>
<h5>Mammal information is widely available on the internet. However, there are limited resources which consolidate such information in one place, let alone one which is easily accessible.
  <br>  This database is designed for educational purposes only; facilitating information gathering regarding specific mammal species and/or species that fall into specific generalizations.
  <br>  All information obtained and used in the database are from publically accessible and free-to-use sources.</h5>
