<!DOCTYPE>
<html lang='en'>
<head>
  <title> Mammals by Mei </title>

  <link rel="shortcut icon" href="{{ url_for('static', filename='icon.ico') }}">

  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='general.css')}}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='section.css')}}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='split.css')}}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='tabs.css')}}">


  <script type="text/javascript" src="{{ url_for('static',filename='javascript.js')}}"> </script>


</head>


<body onload="init()">


  <div class="section">
    <object type="text/html" data="header" onload="importHTML(this)"></object>
    <div id="header" src="header.html"></div>
  </div>

  <div class="section">
    <div class="two-column">

      <div id="query" class="column"></div>
      <div id="results" class="column"></div>

      <object type="text/html" data="query" onload="importHTML(this)"></object>
      <object type="text/html" data="results" onload="importHTML(this)"></object>
    </div>
  </div>

  <div class="section">
    <object type="text/html" data="footer" onload="importHTML(this)"></object>
    <div id="footer"></div>
  </div>

</body>
</html>
