<!DOCTYPE>
<html lang='en'>
<head>
  <title> Mammals by Mei </title>

  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='general.css')}}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='section.css')}}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='split.css')}}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='tabs.css')}}">


  <script type="text/javascript" src="{{ url_for('static',filename='javascript.js')}}"> </script>


</head>


<body>


  <div class="section">
    
    <iframe src="header" onload="importHTML(this)"></iframe>

    <div id="header" src="header.html"></div>
  </div>

  <div class="section">
    <div class="two-column">
      <div id="query" class="column"></div>
      <div id="results" class="column"></div>
    </div>
  </div>

  <div class="section">
    <div id="footer"></div>
  </div>

</body>
</html>
