<h3>Database Management</h3>
<h5> The following prefixes are pre-defined </h5>

<div>
  <div class="inline">
    <p> prefix rdfs: &lt;http://www.w3.org/2000/01/rdf-schema#&gt; </p>
    <p> prefix owl: &lt;http://www.w3.org/2002/07/owl#&gt;</p>
    <p> prefix m: &lt;http://www.semanticweb.org/ontologies/2020/2/Mammal#&gt; </p>
  </div>
</div>

<div>
  <div class="tab">
    <button id='queryTab' class="tablinks" onclick="selectManagement(this, 'Query')">Query Records</button>
    <button class="tablinks" onclick="selectManagement(this, 'Update')">Update Records</button>
    <button class="tablinks" onclick="selectManagement(this, 'Add')">Add Records</button>
    <button class="tablinks" onclick="selectManagement(this, 'Remove')">Remove Records</button>
  </div>
</div>

<div>
  <div id="Query" class="tabcontent">
    <form action="/query_page" method="post">

      <h4> Select the query method </h4>

        <div style="text-align:left">
          <input type="radio" name="query_type" value="generator" onclick="querySelection(this.value)"> Generate a list of tripples matching the pattern given by the arguments. <br>
          <input type="radio" name="query_type" value="specific" onclick="querySelection(this.value)"> Write out a custom query. <br>
        </div>


        <div id="generator">
          <h4> The arguments of these are RDF terms that restrict the triples that are returned. <br> Unfilled arguments are considered wild-cards. </h4>
            <div class="querycenter">
              Subject: <input type="text" name="sub" placeholder="Wild card..">
              Predicate: <input type="text"  name="pred" placeholder="Wild card..">
              Object: <input type="text" name="obj" placeholder="Wild card..">
            </div>
            <br>
            <input class="center-block" type="submit" value="Submit">
        </div>


        <div id="specific">
          <br>
          <textarea placeholder="Type your query here..." name="search"></textarea>
        </div>


      <input class="inline" type="Submit" value="Submit"> <!-- type="submit" for php -->
    </form>
  </div>
</div>

<div>
  <div id="Update" class="tabcontent">
    <h4> Allows for more complex SPARQL updates. </h4>
    <form action="/update_page" method="post">
      <div class="querycenter">
        <textarea placeholder="Type your update here..." name="search"></textarea>
      </div>
      <input class="inline" type="submit" value="Submit">
    </form>
  </div>
</div>

<div>
  <div id="Add" class="tabcontent">
    <h4> Please denote the resource as a tripple using turtle syntax. </h4>
    <form action="/add_page" method="post">
      <div class="querycenter">
        Subject: <input type="text" name="sub" placeholder="Required field.." required>
        Predicate: <input type="text"  name="pred" placeholder="Required field.." required>
        Object: <input type="text" name="obj" placeholder="Required field.." required>
      </div>
      <p></p>
      <input class="center-block" type="submit" value="Submit">
    </form>
  </div>
</div>

<div>
  <div id="Remove" class="tabcontent">
    <h4> There are two methods to remove tripples from this database: </h4>

    <form action="/remove_page" method="post">
      <div style="text-align:left">
        <input type="radio" name="removal_type" value="Single" onclick="removalSelection(this.value)"> Remove a single specific tripple <br>
        <input type="radio" name="removal_type" value="Purge" onclick="removalSelection(this.value)"> Purge all tripples relating to the specified subject <br>
      </div>

      <h4 id="help_text"> </h4>

      <div class="querycenter">
        Subject: <input type="text" id="sub" name="sub" placeholder="Required field.." required>
        Predicate: <input type="text" id="pred" name="pred">
        Object: <input type="text" id="obj" name="obj">
      </div>
      <br>
      <input class="center-block" type="submit" value="Submit">
    </form>
  </div>
</div>
