<h3>Database Management</h3>
<h5> The following prefixes are pre-defined </h5>

<div>
  <div class="inline">
    <p> prefix rdfs: &lt;http://www.w3.org/2000/01/rdf-schema#&gt; </p>
    <p> prefix owl: &lt;http://www.w3.org/2002/07/owl#&gt;</p>
    <p> prefix m: &lt;http://www.semanticweb.org/ontologies/2020/2/Mammal#&gt; </p>
  </div>
</div>

<div>
  <div class="tab">
    <button id='queryTab' class="tablinks" onclick="selectManagement(this, 'Query')">Query Records</button>
    <button class="tablinks" onclick="selectManagement(this, 'Update')">Update Records</button>
    <button class="tablinks" onclick="selectManagement(this, 'Add')">Add Records</button>
    <button class="tablinks" onclick="selectManagement(this, 'Remove')">Remove Records</button>
  </div>
</div>

<div>
  <div id="Query" class="tabcontent">
    <form action="/query_page" method="post">
      <textarea id="search" placeholder="Type your query here..." name="search" required></textarea>
      <input class="inline" type="Submit" value="Submit"> <!-- type="submit" for php -->
    </form>
  </div>
</div>

<div>
  <div id="Update" class="tabcontent">
    <p> Something for updating </p>
    <form action="/update_page" method="post">
      <div class="querycenter">
      </div>
      <input class="center-block" type="submit" value="Submit">
    </form>
  </div>
</div>

<div>
  <div id="Add" class="tabcontent">
    <p> Please denote the resource as a tripple using turtle syntax. </p>
    <form action="/add_page" method="post">
      <div class="querycenter">
        Subject: <input type="text" id="sub" name="sub">
        Predicate: <input type="text" id="pred" name="pred">
        Object: <input type="text" id="obj" name="obj">
      </div>
      <p></p>
      <input class="center-block" type="submit" value="Submit">
    </form>
  </div>
</div>

<div>
  <div id="Remove" class="tabcontent">
    <p> Something for removing </p>
    <form action="/remove_page" method="post">
      <div class="querycenter">
      </div>
      <input class="center-block" type="submit" value="Submit">
    </form>
  </div>
</div>
